body {
    margin: 0;
}

header {
    width: 100%;
    height: 60px;
    margin: auto;
}

header nav {
    width: 99%;
    height: 100%;
    margin: auto;
}

header .menuList {
    display: flex;
    background-color: #F4F4F4;
    width: 100%;
    height: 95%;
    margin: 0;
    padding: 0;
    align-items: center;
    border-width: 0 0 4px 0;
    border-style: solid;
    border-radius: 5px;
    border-image: linear-gradient(to right, #FF0000, #FA00FF, #0400D2, #00B2FF, #00FF57, #DBF72C, #FF8A00, #FF0000) 1;
    background-origin: border-box;
    background-clip: content-box, border-box;
}

header .menuList .menuItem {
    padding: 0 30px;
    height: 100%;
    display: flex;
    text-transform: lowercase;
    align-items: center;
}

header .menuList .menuItem:last-of-type {
    position: absolute;
    right: 0;
}

.menu::after {
    content: '';
    border: solid black;
    border-width: 0 1px 1px 0;
    display: inline-block;
    padding: 3px;
    margin: 0 0px 4px 10px;
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
}

header li a {
    color: #333333;
    text-decoration: none;
    font-family: "Poppins", sans-serif;
    font-size: 16px;
    z-index: 10;
}

header .promocje {
    background-color: #FF4242;
    text-transform: uppercase;
    padding: 5px 10px;
    border-radius: 5px;
    color: #FFFFFF;
    font-size: 14px;
    font-weight: 600;
}

header .dropdown {
    display: none;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    position: absolute;
    left: 0px;
    top: 61px;
    padding: 20px 30px;
    background-color: #F4F4F4;
    width: 95%;
    font-family: "Inter", sans-serif;
    border-radius: 20px;
    border-width: 10px;
    border-style: solid;
    border-color: #FFFFFF;
}

header .dropdown::before {
    content: "";
    position: absolute;
    top: 0px;
    left: 147px;
    width: 0;
    background-color: #F4F4F4;
    width: 40px;
    height: 40px;
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
}

.menuItem:hover .dropdown {
    display: grid;
}

.dropdown:hover {
    display: grid;
}

.menuItem:hover .menu::after {
    margin: 0 0px 0px 10px;
    transform: rotate(-135deg);
    -webkit-transform: rotate(-135deg);
}

header .dropdown li {
    display: flex;
    flex-direction: column;
    margin: 0;
}

header .dropdown li a {
    font-size: 15;
    font-weight: 500;
}

header .dropdown .categoryList {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0;
}

header .dropdown .categoryList a {
    font-size: 13px;
    font-weight: 400;
}